<tr>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.id_sorteo}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.fecha}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number1}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number2}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number3}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number4}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number5}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number6}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number7}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number8}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number9}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number10}} </span>
  </td>
  <td style="padding: 0; margin: 0" style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number11}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number12}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number13}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.number14}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.num_ganadores}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <span class="badge rounded-pill bg-primary"> {{p.tipo_ingreso}} </span>
  </td>
  <td style="padding: 0; margin: 0">
    <a style="text-decoration:none" href="{% url 'delete-row' database p.pk %}">
      <button class="btn btn-danger">
        Delete row
      </button>
    </a>
    
  </td> 
</tr>
