{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
      <h1> Estadísticas de {{modelo}} </h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3> Que probabilidad existe de ganar en {{modelo}}?</h3>
      <p>
        La probabilidad de ganar es de 1 entre 4.457.400 de opciones, lo que es igual a un 0,0000224%
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">
        <table class="table table-borderless fs-1 text-center">
          <tbody>              
              <td style="padding: 0; margin: 0">
                <canvas id="myChart"></canvas>
              </td>                  
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">
        <table class="table table-borderless fs-1 text-center">
          <tbody> 
            <tr>
              <th style="width:50%">Porcentaje de apariciones</th>
              <th style="width:50%">Combinaciones con más de una aparición</th>              
            </tr>  
            <tr>           
              <td style="padding: 0; margin: 0">
                <canvas id="myChart_pie"></canvas>
              </td> 
              <td style="padding: 0; margin: 0">
                <canvas id="myChart_conjunto"></canvas>  
              </td>  
            </tr>  
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




    
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">
        <table class="table table-borderless fs-1 text-center">
          <tbody>
            <tr>
              <th style="width:33%">Números en la posición 1</th>
              <th style="width:33%">Números en la posición 2</th>
              <th style="width:33%">Números en la posición 3</th>
            </tr>
            <tr>  
              <td style="padding: 0; margin: 0">
                <canvas id="myChart1"></canvas>
              </td> 
              <td style="padding: 0; margin: 0">
                <canvas id="myChart2"></canvas>
              </td>  
              <td style="padding: 0; margin: 0">
                <canvas id="myChart3"></canvas>
              </td>  
            
            </tr>            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>           

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">
        <table class="table table-borderless fs-1 text-center">
          <tbody>
            <tr>
              <th style="width:33%">Números en la posición 4</th>
              <th style="width:33%">Números en la posición 5</th>
              <th style="width:33%">Números en la posición 6</th>
            </tr>
            <tr>  
              <td style="padding: 0; margin: 0">
                <canvas id="myChart4"></canvas>
              </td> 
              <td style="padding: 0; margin: 0">
                <canvas id="myChart5"></canvas>
              </td>  
              <td style="padding: 0; margin: 0">
                <canvas id="myChart6"></canvas>
              </td>  
            
            </tr>            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>      

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">
        <table class="table table-borderless fs-1 text-center">
          <tbody>
            <tr>
              <th style="width:33%">Números en la posición 7</th>
              <th style="width:33%">Números en la posición 8</th>
              <th style="width:33%">Números en la posición 9</th>
            </tr>
            <tr>  
              <td style="padding: 0; margin: 0">
                <canvas id="myChart7"></canvas>
              </td> 
              <td style="padding: 0; margin: 0">
                <canvas id="myChart8"></canvas>
              </td>  
              <td style="padding: 0; margin: 0">
                <canvas id="myChart9"></canvas>
              </td>  
            
            </tr>            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">
        <table class="table table-borderless fs-1 text-center">
          <tbody>
            <tr>
              <th style="width:33%">Números en la posición 10</th>
              <th style="width:33%">Números en la posición 11</th>
              <th style="width:33%">Números en la posición 12</th>
            </tr>
            <tr>  
              <td style="padding: 0; margin: 0">
                <canvas id="myChart10"></canvas>
              </td> 
              <td style="padding: 0; margin: 0">
                <canvas id="myChart11"></canvas>
              </td>  
              <td style="padding: 0; margin: 0">
                <canvas id="myChart12"></canvas>
              </td>  
            
            </tr>            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>        

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">
        <table class="table table-borderless fs-1 text-center">
          <tbody>
            <tr>
              <th style="width:33%">Números en la posición 13</th>
              <th style="width:33%">Números en la posición 14</th>
              <th style="width:33%"></th>
            </tr>
            <tr>  
              <td style="padding: 0; margin: 0">
                <canvas id="myChart13"></canvas>
              </td> 
              <td style="padding: 0; margin: 0">
                <canvas id="myChart14"></canvas>
              </td>  
              <td style="padding: 0; margin: 0">  
              </td>  
            
            </tr>            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>        


    
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx_pie = document.getElementById('myChart_pie');
    let labels_PIE = {{elementos_duplicados|safe}};
    let data_pie = {{cantidad_elementos_duplicados|safe}};
    new Chart(ctx_pie, {
      type: 'pie',
      data: {
        labels: [
          'Combinaciones que ya aparecieron',
          'Combinaciones que no han aparecido',          
          ], 
        datasets: [{
          labels: 'My First Dataset',
          data: {{data_pie}},
          backgroundColor: [            
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
          ],
          hoverOffset: 4
        }]
        
      }
      
    });


    const ctx_conjunto = document.getElementById('myChart_conjunto');
    let labels_conjunto = {{elementos_duplicados|safe}};
    let data_conjunto = {{cantidad_elementos_duplicados|safe}};
    new Chart(ctx_conjunto, {
      type: 'bar',
      data: {
        labels: labels_conjunto,
        datasets: [{
          label: '# de apariciones',
          data: data_conjunto,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });


    const ctx = document.getElementById('myChart');
    let labels = {{labels|safe}};
    let data = {{data|safe}};
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    const ctx1 = document.getElementById('myChart1');
    let data1 = {{data1|safe}};
    new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data1,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx2 = document.getElementById('myChart2');
    let data2 = {{data2|safe}};
    new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data2,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx3 = document.getElementById('myChart3');
    let data3 = {{data3|safe}};
    new Chart(ctx3, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data3,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    const ctx4 = document.getElementById('myChart4');
    let data4 = {{data4|safe}};
    new Chart(ctx4, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data4,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx5 = document.getElementById('myChart5');
    let data5 = {{data5|safe}};
    new Chart(ctx5, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data5,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx6 = document.getElementById('myChart6');
    let data6 = {{data6|safe}};
    new Chart(ctx6, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data6,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx7 = document.getElementById('myChart7');
    let data7 = {{data7|safe}};
    new Chart(ctx7, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data7,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx8 = document.getElementById('myChart8');
    let data8 = {{data8|safe}};
    new Chart(ctx8, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data8,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx9 = document.getElementById('myChart9');
    let data9 = {{data9|safe}};
    new Chart(ctx9, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data9,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx10 = document.getElementById('myChart10');
    let data10 = {{data10|safe}};
    new Chart(ctx10, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data10,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx11 = document.getElementById('myChart11');
    let data11 = {{data11|safe}};
    new Chart(ctx11, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data11,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx12 = document.getElementById('myChart12');
    let data12 = {{data12|safe}};
    new Chart(ctx12, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data12,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx13 = document.getElementById('myChart13');
    let data13 = {{data13|safe}};
    new Chart(ctx13, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data13,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    const ctx14 = document.getElementById('myChart14');
    let data14 = {{data14|safe}};
    new Chart(ctx14, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# de apariciones',
          data: data14,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });














    
    
              
    
  </script>
{% endblock %}