{% extends 'base.html' %} {% block content %}








<h1 class="text-center">Ultimos Resultados Kino</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-sm table-borderless fs-6 text-center">
          <tbody>
            {% for p in Resultados_kino %} {% include 'partials/rows.html' %}
            {%endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Ultimos Resultados Rekino</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-sm table-borderless fs-6 text-center">
          <tbody>
            {% for p in Resultados_rekino %} {% include 'partials/rows.html' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Ultimos Resultados Chanchito Regalón</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-sm table-borderless fs-6 text-center">
          <tbody>
            {% for p in Resultados_chanchito %} {% include 'partials/rows.html' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Ultimos Resultados Combo</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-sm table-borderless fs-6 text-center">
          <tbody>
            {% for p in Resultados_combo %} {% include 'partials/rows.html' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Ultimos Resultados Chao jefe 1</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-sm table-borderless fs-6 text-center">
          <tbody>
            {% for p in Resultados_chao1 %} {% include 'partials/rows.html' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Ultimos Resultados Chao Jefe 2</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-sm table-borderless fs-6 text-center">
          <tbody>
            {% for p in Resultados_chao2 %} {% include 'partials/rows.html' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Ultimos Resultados Chao Jefe 3</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-sm table-borderless fs-6 text-center">
          <tbody>
            {% for p in Resultados_chao3 %} {% include 'partials/rows.html' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock %}

  

