{% extends 'base.html' %} {% block content %}
<h1>{{database_title}}</h1>
<h3>Elementos encontrados: {{len_resultado}}</h3>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive-sm">
        <table class="table table-borderless fs-6 text-center">
          <tbody>
            {% for p in RESULTADO %}
              {% include 'partials/rows_ver_bd_admin.html' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
